$title: #FFCDF4;
$trackH1: #FF4848;

@keyframes fadeIn {
    0% { -moz-transform: translateY(100%); }
    0%   {  opacity: 0; }
    50%   {  opacity: 0; }
    100%   {  opacity: 1; }
    100%   { -moz-transform: translateY(0%); }
}
@mixin transition {
    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        animation: fadeIn all 6s #{$i * 1}s ease-in;      
      }
    }
}
.allTracks{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    width: 70%;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-20%); 
    overflow: hidden;
    height: 60%;
    position: absolute;
    margin: 0 auto;
    align-items: center;
    .tracks{
        // @include transition;
        animation: fadeIn 2.5s ease-in;
        width: 15%;
        height: 20%;
        padding: 1%;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        margin: 0 auto;
        transition: 0.3s ease all;
        h3{
            margin: 0 auto;
        }
        .bubble{
            cursor: pointer;
        }
    }
}