$black: #121212;
$white: #FFFFFF;
$orange: #FF4700;
$blue: #1D2D3A;
$title: #FFCDF4;
$trackH1: #FF4848;
@mixin breakpoint($point) {
    @if $point == desktop {
      @media (min-width: 1200px) { @content ; }
   }
    @else if $point == laptop {
      @media (min-width: 992px) { @content ; }
   }
     @else if $point == tablet {
      @media (min-width: 768px) { @content ; }
   }
    @else if $point == phablet {
      @media (min-width: 576px)  { @content ; }
   }
   @else if $point == mobileonly {
      @media (min-width: 300px)  { @content ; }
  
   }
  }
.buyTrack {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%; 
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;  
    overflow: hidden;
    position: relative;
    animation: fadeIn 5s ease;
    @include breakpoint(phablet){
        width: 80%;
    }
    @include breakpoint(tablet){
        width: 100vw;
        height: 100vh;
    }
    @include breakpoint(desktop){
        width: 100vw;
        height: 100vh;
    }
    .bottom{
        width: 100%;
        height: 45%;
        margin: 0 auto;
        margin-bottom: 0;
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        overflow: hidden;
        background-color: #1B1B1B;
        @include breakpoint(phablet){
            width: 45%;
        }
        @include breakpoint(tablet){
            width: 100%;
        }
        @include breakpoint(desktop){
            width: 100%;
        }
        .buy{
            width: 50%;
            text-transform: capitalize;
            display: flex;
            flex-direction: column;
            @include breakpoint(mobileonly){
                width: 40%;
            }  
            @include breakpoint(tablet){
                width: 50%;
            }  
            @include breakpoint(desktop){
                width: 50%;
            }  
                        

            h4{
                font-size: 1.5rem;
                margin: 0 auto;
                @include breakpoint(mobileonly){
                 font-size: 1rem;
                }
                @include breakpoint(phablet){
                    font-size: 0.7rem;
                }
                @include breakpoint(tablet){
                    font-size: 1.3rem;
                }
                @include breakpoint(desktop){
                    font-size: 1.5rem;
                }
            }
            p{
                margin: 1% auto;
                text-align: center;
                @include breakpoint(mobileonly){
                    font-size: 0.7rem;
                }
                @include breakpoint(phablet){
                    font-size: 0.5rem;
                }
                @include breakpoint(tablet){
                    font-size: 1rem;
                }
                @include breakpoint(desktop){
                    font-size: 1rem;
                }
            }
            .button{
                margin: 0 auto;
                font-size: 1rem;
                width: 80px;
                text-align: center;
                line-height: 1.5rem;
                border-radius: 5px;
                height: 30px;
                border: 1px solid $title;
                animation: borderRotate infinite linear  4s;
                margin-top: 2%;   
                @include breakpoint(phablet){
                    width: 40px;
                    height: 15px;
                    line-height: 0.8rem;
                }
                @include breakpoint(tablet){
                    width: 60px;
                    height: 25px;
                    line-height: 1.2rem;
                }
                @include breakpoint(desktop){
                    margin: 0 auto;
                    font-size: 1rem;
                    width: 80px;
                    text-align: center;
                    line-height: 1.5rem;
                    border-radius: 5px;
                    height: 30px;
                    border: 1px solid $title;
                    animation: borderRotate infinite linear  4s;
                    margin-top: 2%; 
                }
                &:hover{  
                    pointer-events: auto;
                    box-shadow: 0px 4px 10px $title;
                    transition: 0.3s;
                    cursor: pointer;
                }
            }
        }
        .carousel-container{
            width: 50%;
            height: 100%;
            margin: 0 auto;
            text-transform: capitalize;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            
            
            .carousel{
                height: 80%;
                ul{

                    li{
                        background-position: center;
                        background-size: cover;
                    }
                }
                @include breakpoint(mobileonly){
                    width: 100%;
                    height: 50%;
                }
                @include breakpoint(phablet){
                    width: 80%;
                    height: 60%;
                   }
                   @include breakpoint(tablet){
                    width: 80%;
                    height: 60%;
                }
                   @include breakpoint(laptop){
                    width: 80%;
                    height: 80%;
                }
                   @include breakpoint(desktop){
                    width: 60%;
                    height: 80%;
                }
                .slider{
                    height: 100%;
                    overflow: hidden;
                    width: 300px;
                  
                    @include breakpoint(mobileonly){
                        width: 100%;
                    }
                    @include breakpoint(desktop){
                        width: 100%;
                    }
                    .bone, .btwo, .bthree {
                        background-position: center;
                        background-size: cover;
                        background-attachment: fixed;
                        &::after{
                         background: linear-gradient(300deg,#332530, #E903B4, #80677A 100%);
                         position: absolute;
                         width: 100%;
                         height: 100%;
                         left: 0;
                         bottom: 0;
                         content: "";
                         opacity: 0.5;
                        }
                    }
                }
            }
        }
        .button-next{
            position: absolute;
            background-color: transparent;  
            left: 10%;
            top: 40%;
            padding: 10px;
            text-decoration: none;
            color: $title;
            font-size: 1.5rem;
            border: none;
            @include breakpoint(mobileonly){
                left: 0;
            }
            @include breakpoint(phablet){
                font-size: 1rem;
                top: 30%;
            }
            @include breakpoint(tablet){
                font-size: 1.5rem;
                top: 40%;
            }
            @include breakpoint(desktop){
                font-size: 1.5rem;
                top: 40%;
            }
        } 
        .button-back{
            border: none;
            font-size: 1.5rem;
            color: $title;
            position: absolute;
            background-color: transparent;  
            right: 10%;
            top: 40%;
            padding: 10px;
            text-decoration: none;
            @include breakpoint(mobileonly){
                right: 0;
            }
            @include breakpoint(phablet){
                font-size: 1rem;
                top: 30%;
            }
            @include breakpoint(tablet){
                font-size: 1.5rem;
                top: 40%;
            }
            @include breakpoint(desktop){
                font-size: 1.5rem;
                top: 40%;
            }
        }
    }
    .one , .two, .three{
        width: 80%;
        height: 80%; 
        background-position: center;
        background-size: cover;
        position: relative;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 3px 10px $title;
        overflow: hidden;
        border: 2px solid $title;
        grid-column: 3 / 10;
        grid-row: 4/11;
        justify-self: center;
        align-self: center;
        z-index: 30;
        animation: fadeIn 3 ease-in;
        margin: 0 auto;
        justify-content: space-between;
        align-content: center;
        flex-direction: row-reverse;
        @include breakpoint(mobileonly){
            grid-column: 1 / 11;
            grid-row: 4/11;
            width: 90%;
            height: 80%;
        }
        @include breakpoint(laptop){
            grid-column: 2 / 10;
            grid-row: 4/11;
            width: 90%;
            height: 80%;
        }
        @include breakpoint(desktop){
            width: 80%;
            height: 80%;
            grid-column: 2 / 10;
            grid-row: 4/11;
            justify-self: center;
            align-self: center;
        }
        &::after{
            background: linear-gradient(300deg,#332530, #E903B4, #80677A 100%);
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            bottom: 0;
            z-index: -1;
            content: "";
            opacity: 0.5;
        }
        h2{
            position: relative;
            width: 100%;
            height: 15%;
            font-size: 3.5rem;
            text-align: center;
            line-height: 200%;
            margin: 0 auto;
            color: $trackH1;
            @include breakpoint(mobileonly){
                font-size: 2rem;
            }
            @include breakpoint(desktop){
                font-size: 3.2rem;
            }
        }      
        .wrapper {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            overflow: hidden;
            width: 100%;
            max-height: 200px;

            h2{
                margin-left: 0;
                margin-top: 10%;
                line-height: 100%;
                opacity: 0.7;
                font-size: 1.5rem;
                text-shadow: 1px 2px 3px black;
                color: $trackH1;
                @include breakpoint(phablet){
                    font-size: 1rem;
                    top: 30%;
                }
                @include breakpoint(tablet){
                    font-size: 1.5rem;
                    top: 10%;
                }
                @include breakpoint(desktop){
                    font-size: 1.5rem;
                    top: 10%;
                }
            }
        }

        .bubble{
            width:50%;
            height: 55%;
            position: relative;
            display: flex;
            margin: 0 auto;
            align-items: center;
            p{
                margin: 0 auto;
                text-align: center;
                z-index: 1000;
                display: block;
                height: 60px;
                width: 60px;
                background-color: transparent;
                border-radius: 50%;
                border: 2px solid $title;
                opacity: 1;
                line-height: 3.5rem;
                font-weight: bold;
                color: white;
                animation: borderRotate infinite linear  4s;
                @include breakpoint(mobileonly){
                    width: 20px;
                    height: 20px;
                    line-height: 1.3rem;
                    font-size: 0.5rem;
                }
                @include breakpoint(phablet){
                    height: 20px;
                    width: 20px;
                    font-size: 0.5rem;
                    line-height: 1.2rem;
                }
                @include breakpoint(tablet){
                    height: 40px;
                    width: 40px;
                    font-size: 1rem;
                    line-height: 2.5rem;
                }
                @include breakpoint(desktop){
                    height: 60px;
                    width: 60px;
                    font-size: 1rem;
                    line-height: 3.5rem;
                    font-size: 1rem;
                }
                &:hover{  
                    pointer-events: auto;
                    box-shadow: 0px 4px 10px $title;
                    transition: 0.3s;
                    cursor: pointer;
                }
            } 
            } 
        .track-info{
            width: 40%;
            text-align: right;            
            margin: 0 auto;
            text-align: center;
            right: 0%;
            padding: 10%;
            padding-top: 0%;
            padding-left: 0%;
            position: relative;
                       
            h2{
                padding-top: 10%;
                margin-bottom: 8%;
                text-align: right;   
            }
            h3{
                text-align: right;
                position: relative;
                @include breakpoint(mobileonly){
                    font-size: 1rem;
                }
                @include breakpoint(desktop){
                    font-size: 2rem;
                }
                &:after{
                    position: absolute;
                    width: 100%;
                    height: 3px;
                    content: "";
                    background-color: white;
                    left: 0;
                    bottom: -25%;
                }
              }
              p{
                @include breakpoint(mobileonly){
                   font-size: 0.6rem;
                   line-height: 0.6rem;
                }
                @include breakpoint(tablet){
                   font-size: 0.8rem;
                   line-height: 0.8rem;
                }
                @include breakpoint(desktop){
                   font-size: 0.9rem;
                   line-height: 0.9rem;
                }
              }
            &:after{
                background: linear-gradient(50deg,#332530, #E903B4, #80677A 60%);
            }
     }
}
}