.tracks-container {
  height: 100vh;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
      grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  -ms-grid-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
      grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  overflow: hidden;
  position: relative;
}

.tracks-container .wrapper {
  width: 100%;
  height: 100%;
}

.tracks-container .one, .tracks-container .two, .tracks-container .three {
  width: 80%;
  height: 80%;
  background-position: center;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  -webkit-box-shadow: inset 0px 3px 10px #FFCDF4;
          box-shadow: inset 0px 3px 10px #FFCDF4;
  border: 1px solid transparent;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.tracks-container .one:hover, .tracks-container .two:hover, .tracks-container .three:hover {
  cursor: pointer;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  border: 1px solid #FFCDF4;
}

.tracks-container .one:hover .bubble:after, .tracks-container .two:hover .bubble:after, .tracks-container .three:hover .bubble:after {
  -webkit-animation: circleAnimation 20s ease-out;
          animation: circleAnimation 20s ease-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.tracks-container .one:after, .tracks-container .two:after, .tracks-container .three:after {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
  content: "";
  opacity: 0.4;
}

.tracks-container .one:before, .tracks-container .two:before, .tracks-container .three:before {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
  content: "";
  opacity: 0.5;
  background-color: black;
}

.tracks-container .one h2, .tracks-container .two h2, .tracks-container .three h2 {
  color: #FF4848;
  mix-blend-mode: #FF4848;
  margin: 0 auto;
  font-size: 3.1rem;
  text-transform: capitalize;
}

.tracks-container .one .track-info, .tracks-container .two .track-info, .tracks-container .three .track-info {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.tracks-container .one .track-info h3, .tracks-container .two .track-info h3, .tracks-container .three .track-info h3 {
  color: white;
  font-weight: bold;
  font-size: 2rem;
}

.tracks-container .one .track-info h3:after, .tracks-container .two .track-info h3:after, .tracks-container .three .track-info h3:after {
  position: absolute;
  width: 100%;
  height: 3px;
  content: "";
  background-color: white;
  left: 0;
  bottom: 50%;
}

.tracks-container .one .track-info p, .tracks-container .two .track-info p, .tracks-container .three .track-info p {
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 0.8rem;
}

.tracks-container .bubble {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  margin: 0 auto;
}

.tracks-container .bubble p {
  margin: 0 auto;
  text-align: center;
  position: absolute;
  z-index: 1000;
  display: block;
  height: 60px;
  width: 60px;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid #FFCDF4;
  opacity: 1;
  line-height: 3.5rem;
  font-weight: bold;
  left: 50%;
  bottom: 0%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  color: white;
  -webkit-animation: borderRotate infinite linear  4s;
          animation: borderRotate infinite linear  4s;
}

.tracks-container .bubble p:hover {
  pointer-events: auto;
  -webkit-box-shadow: 0px 4px 10px #FFCDF4;
          box-shadow: 0px 4px 10px #FFCDF4;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.tracks-container .bubble:after {
  position: absolute;
  left: -10%;
  top: -10%;
  -webkit-box-shadow: inset 0px 3px 10px #FFCDF4;
          box-shadow: inset 0px 3px 10px #FFCDF4;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  border-radius: 50%;
  height: 1px;
  width: 1px;
  padding: 0.8vw;
  content: "";
}

.tracks-container .one {
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-column: 2 / 7;
  -ms-grid-row: 5;
  -ms-grid-row-span: 5;
  grid-row: 5/10;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  z-index: 30;
  -webkit-animation: fadeInTrackOne 0.5s linear;
          animation: fadeInTrackOne 0.5s linear;
}

.tracks-container .one:after {
  background: linear-gradient(300deg, #332530, #E903B4, #80677A 60%);
}

.tracks-container .one h2 {
  position: absolute;
  left: 5%;
  bottom: 20%;
  word-spacing: 100vw;
}

.tracks-container .one .track-info {
  width: 45%;
  position: absolute;
  right: 5%;
  bottom: 20%;
}

.tracks-container .one .track-info h3:after {
  width: 50%;
  bottom: 55%;
  margin: 0 auto;
  margin-left: 25%;
}

.tracks-container .two {
  -ms-grid-column: 5;
  -ms-grid-column-span: 5;
  grid-column: 5 / 10;
  -ms-grid-row: 6;
  -ms-grid-row-span: 5;
  grid-row: 6 / 11;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  z-index: 20;
  -webkit-animation: fadeInTrackTwo 0.7s linear;
          animation: fadeInTrackTwo 0.7s linear;
}

.tracks-container .two h2 {
  text-align: right;
  position: absolute;
  right: 10%;
  top: 10%;
}

.tracks-container .two .track-info {
  text-align: center;
  position: absolute;
  right: 10%;
  top: 20%;
}

.tracks-container .two .track-info h3 {
  text-align: right;
}

.tracks-container .two:after {
  background: linear-gradient(50deg, #332530, #E903B4, #80677A 60%);
}

.tracks-container .three {
  -ms-grid-column: 5;
  -ms-grid-column-span: 5;
  grid-column: 5 / 10;
  -ms-grid-row: 2;
  -ms-grid-row-span: 5;
  grid-row: 2 / 7;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  text-align: center;
  z-index: 10;
  -webkit-animation: fadeInTrackThree 0.9s linear;
          animation: fadeInTrackThree 0.9s linear;
}

.tracks-container .three:after {
  background: -webkit-gradient(linear, left bottom, left top, from(#332530), color-stop(#E903B4), color-stop(80%, #80677A));
  background: linear-gradient(0deg, #332530, #E903B4, #80677A 80%);
}

.tracks-container .three h3 {
  margin: 0 auto;
}

.tracks-container .three h2, .tracks-container .three .track-info {
  top: 17%;
  position: relative;
}
/*# sourceMappingURL=tracks.css.map */