
.overlaybg{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: 100vw;
    height: 100vh;
    background: black;
    z-index: -1;
    opacity: 0.7;
    &::after{
        opacity: 0.2;
        z-index: -1;
        background: linear-gradient(150deg,#332530, #E903B4, #80677A 40%);
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        min-width: 100%;
        min-height: 100%;
        width: 100vw;
        height: 100vh;
        content:"";
    }
}
.backgroundVideo{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
    opacity: 1;
}